<!DOCTYPE html>
<html>
<head>
    <title>Enterprise CI/CD Pipeline</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <div class="header">
        <h1>Enterprise CI/CD Pipeline</h1>
        <p>GitHub Actions • Docker • SonarQube • Trivy • EKS • Helm</p>
    </div>

    <div class="grid">

        <div class="card success">
            <h2>Deployment Status</h2>
            <p>SUCCESSFULLY DEPLOYED</p>
        </div>

        <div class="card">
            <h2>Environment</h2>
            <p>{{ environment }}</p>
        </div>

        <div class="card">
            <h2>Application Version</h2>
            <p>{{ version }}</p>
        </div>

        <div class="card">
            <h2>Kubernetes Pod</h2>
            <p>{{ pod_name }}</p>
        </div>

        <div class="card">
            <h2>Deployment Time</h2>
            <p>{{ deploy_time }}</p>
        </div>

    </div>

    <div class="pipeline">
        <h2>Pipeline Stages</h2>

        <ul>
            <li>✔ Code Checkout</li>
            <li>✔ Unit Testing</li>
            <li>✔ SonarQube Analysis</li>
            <li>✔ Docker Build</li>
            <li>✔ Trivy Security Scan</li>
            <li>✔ Push to ECR</li>
            <li>✔ Helm Deployment</li>
        </ul>
    </div>

</div>

</body>
</html>

